# folders
__pycache__/
logs/
csv_logs/

# file extensions
*.pkl
*.bin
*.txt

# audio file extensions
*.wav
*.mp3

# checkpoint directories
out*/
.aider*

venv/*

# parameter directories
params_llama/
params_small/
params_nano/

# excluded files
*.png
attention_heatmaps/
data/
elemax_beta_factors/
entmax/